nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #191970;
}

body {
  background-color: #dcdcdc;
}

nav ul {
  text-align: center;
  height: 100%;
}

nav ul li {
  float: left;
  font-size: 1.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

nav ul li:hover {
  background-color: #2987B4;
}

li img {
  width: 5rem;
  float: left;
}

li a {
  color: #FAFAFA;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: #3997C4;
}

/*form styling */
form {
  font-size: 20px;
  margin: auto;
  width: 50%;
  padding-top: 40px;
  color: white;
  position: relative;
}

/* Dropdown button styling */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* Dropdown container styling */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover and focus */
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
  display: block;
}

/* Style for the active menu item */
.active {
  background-color: #4CAF50;
  color: white;
}

.content-section a {
  color: #333;
  text-decoration: none;
}

.content-section h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.content-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content-section p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.dropdown-content a {
  display: block;
  padding: 10px;
}

.contact {
  display: block;
  background-color: #2987B4;
  width: 100%;
  border-radius: 20px;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  height: 40px;
  margin: 10px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

label, input, textarea {
  display: block;
  margin: 10px;
}

input, textarea {
  align-content: center;
  width: 95%;
  padding: 10px;
}

h1 {
  font-size: 1.5rem;
